doctype html
html
	head
		title МАНЕЖ ТАБЛО
		meta(charset="utf-8")
		link(rel='stylesheet', type='text/css', href='styl/main.css')
		script(type='text/javascript', src='js/jquery-2.1.4.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.column.one
			each item, i in new Array(25)
				.item(class=(i == 0) ? 'first' : '')
					.letter
		.column.two
			each item, i in new Array(25)
				.item(class=(i == 0) ? 'first' : '')
					.letter
		.column.three
			each item, i in new Array(25)
				.item(class=(i == 0) ? 'first' : '')
					.letter
		.column.four
			each item, i in new Array(25)
				.item(class=(i == 0) ? 'first' : '')
					.letter
		.column.five
			each item, i in new Array(25)
				.item(class=(i == 0) ? 'first' : '')
					.letter