doctype html
html
	head
		title МАНЕЖ ТАБЛО
		meta(charset="utf-8")
		link(rel='stylesheet', type='text/css', href='styl/main.css')
		script(type='text/javascript', src='js/jquery-2.1.4.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.container
			.column.one
				each item, i in new Array(37)
					.item
			.column.two
				each item, i in new Array(37)
					.item
			.column.three
				each item, i in new Array(37)
					.item
			.column.four
				each item, i in new Array(37)
					.item
			.column.five
				each item, i in new Array(37)
					.item