doctype html
html
	head
		title МАНЕЖ ТАБЛО
		meta(charset="utf-8")
		link(rel='stylesheet', type='text/css', href='styl/main.css')
		script(type='text/javascript', src='js/jquery-2.1.4.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.column.infinity.one
			each item in new Array(20)
				.item
		.column.infinity.two
			each item in new Array(20)
				.item
		.column.infinity.three
			each item in new Array(20)
				.item
		.column.infinity.four
			each item in new Array(20)
				.item
		.column.infinity.five
			each item in new Array(20)
				.item


		.res