@-webkit-keyframes movecolumns {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
html,
body,
.container,
.column {
  height: 1360px;
}
.container {
  width: 4638px;
  position: relative;
  overflow: hidden;
}
.item {
  height: 75px;
  background-color: #808080;
  position: relative;
  background-position: 50% 50%;
  background-repeat: repeat-y;
  background-size: 100%;
}
.item {
  animation: movecolumns 2s linear infinite;
}
.column {
  transform: scaleX(2);
  transform-origin: 0 0;
  float: left;
}
.one {
  margin-right: 610px;
  width: 400px;
}
.one .item {
  background-image: url("../img/letters/01.png");
}
.two {
  width: 400px;
  margin-right: 610px;
}
.two .item {
  background-image: url("../img/letters/02.png");
  transform: rotate(180deg);
}
.three {
  width: 320px;
  margin-right: 580px;
}
.three .item {
  background-image: url("../img/letters/03.png");
}
.four {
  width: 230px;
  margin-right: 420px;
}
.four .item {
  background-image: url("../img/letters/04.png");
}
.five {
  width: 550px;
}
.five .item {
  background-image: url("../img/letters/05.png");
}
