@-webkit-keyframes movecolumns {
	0% {transform: translate(0, 0%);}
	100% {transform: translate(0, -100%);}
}

::-webkit-scrollbar
	display none

body
	margin 0
	padding 0
	background-color black

html, body, .container, .column
	height 1360px

.container
	width 4638px
	position relative
	// outline 1px solid red

.item
	height 75px
	background-color grey
	position relative
	background-position 50% 50%
	background-repeat repeat-y
	background-size 100%

.item
	animation movecolumns 2s linear infinite

.column
	transform scaleX(2)
	transform-origin 0 0
	overflow hidden
	float left
	margin-right 650px
	&:last-child
		margin-right 0px

.one
	width 400px
	.item
		background-image url('../img/letters/01.png')

.two
	width 400px
	margin-right 600px
	.item
		background-image url('../img/letters/02.png')
		transform rotate(180deg)

.three
	width 320px
	margin-right 570px
	.item
		background-image url('../img/letters/03.png')

.four
	width 230px
	margin-right 410px
	.item
		background-image url('../img/letters/04.png')

.five
	width 550px
	.item
		background-image url('../img/letters/05.png')