@-webkit-keyframes movecolumns {
  0% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
html,
body,
.container,
.column {
  height: 1920px;
}
.container {
  width: 6480px;
}
.item {
  height: 75px;
  background-color: #808080;
  position: relative;
  background-position: 50% 50%;
  background-repeat: repeat-y;
  background-size: 100%;
}
.item {
  animation: movecolumns 2s linear infinite;
}
.column {
  transform: scaleX(2);
  transform-origin: 0 0;
  overflow: hidden;
  float: left;
  margin-right: 650px;
}
.column:last-child {
  margin-right: 0px;
}
.one {
  margin-left: 700px;
  width: 460px;
}
.one .item {
  background-image: url("../img/new/01.png");
}
.two {
  width: 460px;
  margin-right: 620px;
}
.two .item {
  background-image: url("../img/new/02.png");
  transform: rotate(180deg);
}
.three {
  width: 380px;
  margin-right: 660px;
}
.three .item {
  background-image: url("../img/new/03.png");
}
.four {
  width: 290px;
  margin-right: 510px;
}
.four .item {
  background-image: url("../img/new/04.png");
}
.five {
  width: 610px;
}
.five .item {
  background-image: url("../img/new/05.png");
}
