@-webkit-keyframes movecolumns {
	0% {margin-top: 0%;}
	100% {margin-top: -100%;}
}

body
	margin 0
	padding 0
	// background-color black

html, body, .column
	height 800px
	// height 100%

.item
	height 35px
	background-color grey
	position relative
	background-position 50% 50%
	background-repeat repeat-y
	background-size 100%

.first
	animation movecolumns 4s linear infinite

.column
	overflow hidden
	float left
	margin-right 50px
	&:last-child
		margin-right 0px

.one
	width 200px
	.item
		background-image url('../img/old/01.png')

.two
	width 175px
	.item
		background-image url('../img/old/02.png')
		transform rotate(180deg)

.three
	width 170px
	.item
		background-image url('../img/old/03.png')

.four
	width 130px
	.item
		background-image url('../img/old/04.png')

.five
	width 270px
	.item
		background-image url('../img/old/05.png')