@-webkit-keyframes movecolumns {
	0% {transform: translate(0, 0%);}
	100% {transform: translate(0, -100%);}
}

body
	margin 0
	padding 0
	background-color black

html, body, .container, .column
	height 1920px

.container
	width 6480px
	// outline 1px solid red

.item
	height 75px
	background-color grey
	position relative
	background-position 50% 50%
	background-repeat repeat-y
	background-size 100%

.item
	animation movecolumns 2s linear infinite

.column
	transform scaleX(2)
	transform-origin: 0 0
	overflow hidden
	float left
	margin-right 650px
	&:last-child
		margin-right 0px

.one
	margin-left 950px
	width 400px
	.item
		background-image url('../img/new/01.png')

.two
	width 380px
	margin-right 560px
	.item
		background-image url('../img/new/02.png')
		transform rotate(180deg)

.three
	width 320px
	margin-right 600px
	.item
		background-image url('../img/new/03.png')

.four
	width 230px
	margin-right 450px
	.item
		background-image url('../img/new/04.png')

.five
	width 550px
	.item
		background-image url('../img/new/05.png')